<h3>Audio</h3>
<button (click)="onClickLoadSound()">Load sound</button>
<div *ngIf="track.audio.resource">
  <figure>
    <figcaption>{{ track.audio.resource.path | filename }}</figcaption>
    <audio controls [src]="getAudioSrc()">
      Your browser does not support the
      <code>audio</code> element.
    </audio>
  </figure>
  <button (click)="onClickEmptySound()">Empty sound</button>
</div>
<app-parameters-editor (changed)="onParameterChanged()" [entity]="track.audio" [parametersModel]="getParametersModel()"></app-parameters-editor>
