<div *ng></div>
<div *ngIf="!loading; else isLoading">
  <div>
    <label for="local">Local</label>
    <input id="local" type="checkbox" [(ngModel)]="local" (change)="onChangeLocal()" />
  </div>
  <ul>
    <li *ngFor="let resource of resources">
      <button (click)="onClickResource(resource)">
        <span>{{ resource.path }}</span>
        <span *ngIf="isFocused(resource)">*</span>
      </button>
    </li>
  </ul>
  <button (click)="onClickLoad()" [disabled]="focusedResource === null">Load</button>
</div>
<button (click)="onClickCancel()">Cancel</button>

<ng-template #isLoading>
  <app-loading></app-loading>
</ng-template>
