<h2>Sequencer</h2>
<button (click)="onClickPlay()">Play</button>
<button (click)="onClickPause()">Pause</button>

<div *ngIf="position != null">
  <span>
    <span>Tick</span>
    <input type="number" min="0" [(ngModel)]="position.tick" />
  </span>
  <span>
    <span>Beat</span>
    <input type="number" min="0" [(ngModel)]="position.beat" />
  </span>
  <span>
    <span>Mesure</span>
    <input type="number" min="0" [(ngModel)]="position.mesure" />
  </span>
</div>

<div>
  <span>Playing:</span>
  <span>{{ playing ? 'true' : 'false' }}</span>
</div>
