<div *ngIf="track !== null">
  <app-position id="pattern-position" [position]="patternWrapper.getPositionWrapper().getPosition()"></app-position>
  <div *ngIf="patternWrapper !== null">
    <div>
      <span>Playing:</span>
      <span>{{ patternWrapper.isPlaying() ? 'true' : 'false' }}</span>
    </div>
    <div>
      <span>Looping:</span>
      <span>{{ patternWrapper.isLooping() ? 'true' : 'false' }}</span>
    </div>
  </div>
  <div *ngFor="let mesure of ' '.repeat(pattern.timeSignature.mesure).split(''), let mesureIndex = index">
    <span><strong>{{ mesureIndex }}.</strong></span>
    <span *ngFor="let beat of ' '.repeat(pattern.timeSignature.beat).split(''), let beatIndex = index">
      {{ beatIndex }}
      <span *ngFor="let tick of ' '.repeat(getTickNumber()).split(''), let stepIndex = index">
        <app-pattern-sheet-event [pattern]="pattern" [track]="track"
          [position]="{ mesure: mesureIndex, beat: beatIndex, tick: stepIndex }">
        </app-pattern-sheet-event>
      </span>
    </span>
  </div>
  <span *ngFor="let step of ' '.repeat(pattern.timeSignature.step).split(''), let stepIndex = index">
  </span>

  <div *ngIf="selectedEvent !== null">
    selected event
    <!-- <app-pattern-event [event]="selectedEvent"></app-pattern-event> -->
  </div>
</div>
